$primaryColor: #017BFF;
$primaryColorTransparent: rgba(1, 123, 255, 0.80);
$secondaryColor: #01A5FF;
$secondaryColorTransparent: rgba(1, 165, 255, 0.80);
$shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.2);
$shadowReverse: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
$shadowCenter: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
$shadowImg: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$shadowInset: rgba(0, 0, 0, 0.5) 0px 2px 8px 2px inset;
$buttonGradient: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(135, 135, 135, 0.3));