@import "variables";

$theme-colors: (
    "dark": $primaryColor
);

@import "../../node_modules/react-bootstrap-range-slider/dist/react-bootstrap-range-slider.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "layout";
@import "menu-bar";
@import "slideshow";
@import "videoPlayer";