@font-face {
    font-family: "Futura";
    src: url("../fonts/futur.woff2");
}

@font-face {
    font-family: "Chalkduster";
    src: url("../fonts/Chalkduster.woff2");
}

@font-face {
    font-family: "Krungthep";
    src: url("../fonts/Krungthep.woff2");
}

@font-face {
    font-family: "Felt Tip Roman Regular";
    src: url("../fonts/FeltTipRomRegular.woff2");
}

@font-face {
    font-family: "Felt Tip Roman Bold";
    src: url("../fonts/FeltTipRomBold.woff2");
}

@font-face {
    font-family: "Felt Tip Roman Heavy";
    src: url("../fonts/FeltTipRomHeavy.woff2");
}